{% extends 'base.html' %}


{% block title %}Home{% endblock title %}

{% block content %}
<h1>This is our issue_mgr</h1>
<p>Soccer, known as football outside North America, is the world’s most popular sport, captivating millions with its blend of skill, strategy, and teamwork. Played on a rectangular field with two goals, the game involves two teams of eleven players each, striving to score by getting the ball into the opposing team's net. Its universal appeal stems from its simplicity and the excitement of watching high-stakes matches that can change the course of history with a single goal.</p>
{% endblock content %}